<!DOCTYPE html>
<html lang="en">
<nav>
    <div class="nav-wrapper center teal accent-4">
    <a href="#" class="brand-logo ceneter">Non Sketchy Websites Incorporated</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="login">Home</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="login">Login</a></li>
    </ul>
    </div>
</nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non Sketchy Websites Incorporated</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <h5>Welcome to Non Sketchy Websites Incorporated</h5>
    <div class="input-field">
    <form action="" method="POST" class="form-inline">
        {{ form.csrf }}
            <label for="realname_input">Real name: </label>
            <input name="realname" id="realname_input"  type="text">
        </div>
        <div class="input-field">
            <label for="username_input">Username: </label>
            <input name="username" id="username_input"  Type="text">
        </div>
        <div class="input-field">
            <label for="username_input">Password: </label>
            <input name="password" id="password_input"  type="password">
        </div>
        <div class="input-field">
            <label for="username_input">Re-enter password: </label>
            <input name="password2" id="password2_input"  type="text">
        </div>
        <div class="input-field">
        <label for="username_input">Access Code: </label>
            <input name="accesscode" id="accesscode_input"  type="text">
            <button name="register" type="submit" class ="btn btn-primary">Register</button>
        </div>
</form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>