<!DOCTYPE html>
<html lang="en">
<nav>
    <div class="nav-wrapper center teal accent-4">
    <a href="#" class="brand-logo ceneter">Non Sketchy Websites Incorporated</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="collapsible.html">Log out</a></li>
    </ul>
    </div>
</nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non Sketchy Websites Incorporated</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
        <h5>Welcome, to sketchy websites incorporated, {{realname}}</h5>
        <form action="" method="POST" class="form-inline">
            <div class="input-field">
            {{ form.csrf}}
            <button name="logout" type="submit" class ="btn btn-primary">Log out</button>
        </form>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>